{{#each cards}}
<div class="card" data-controller="card">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{goal}} per {{goal_period}}</p>
  </div>
</div>
{{else}}
<p>No cards</p>
{{/each}}
