<h1>All cards</h1>

{{#each cards}}
<div class="card" data-controller="card">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">Bobbins.</p>
  </div>
</div>
{{else}}
<p>No cards</p>
{{/each}}